.button-nonclick-dashboard {
  height: 25px;
  text-align: center;
  font-weight: 700;
}

.button-click-dashboard {
  border-radius: 16px;
  background-color: #fff;
  padding: 4px 12px;
  gap: 4px;
  color: #6096b4;
  text-transform: capitalize;
  font-weight: 700;
}