.box {
  border-radius: 8px;
  background-color: #f5f5f5;
  backdrop-filter: blur(4px);
}
.button-box {
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.button-text {
  color: #93bfcf;
  border: hidden;
  align-items: end;
}
