.button-nonclick {
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #f5f5f5;
  width: 86.78px;
  height: 25px;
  color: #6096b4;
  text-align: center;
}

.button-click {
  border-radius: 15px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  width: 88.78px;
  height: 25px;
  color: #6096b4;
  text-align: center;
  border: 2px solid #6096b4;
  box-sizing: border-box;
}