.box {
  border-radius: 8px;
  background-color: #f5f5f5;
}

.button-box {
  border-radius: 5px;
  background-color: #bdcdd6;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #bdcdd6;
  box-sizing: border-box;
  width: 286.41px;
  height: 36px;
  color: #f5f5f5;
  cursor: pointer;
  color: #f5f5f5;
  background-color: #bdcdd6;
  text-align: center;
  padding-top: 4px;
}

.button-text {
  color: #93bfcf;
  border: hidden;
  align-items: end;
  text-align: left !important;
}

.option-box {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #bdcdd6;
  width: 286.41px;
  height: 36px;
  color: #000;
  text-align: left;
  padding-top: 4px;
  padding-left: 10px;
  cursor: pointer;
}

.header-cardbox {
  margin: 0px;
  text-align: center;
}
